.sunithacolumns > div {
  display: flex;
  flex-direction: column;
}

.sunithacolumns img {
  width: 80%;
}

.sunithacolumns > div > div {
  order: 1;
}

.sunithacolumns > div > .sunithacolumns-img-col {
  order: 0;
}

.sunithacolumns > div > .sunithacolumns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .sunithacolumns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .sunithacolumns > div > div {
    flex: 1;
    order: unset;
  }
}
